/.vscode
/another.c
/ba
/blank.pdf
/disc.c
/Idea
/Idea.zip
/Lektion_
/Mduu
/mduuu.c
/Queue
/queue.o
/rakib.zip
/rakib_du
/Story.zip
/Story_3
/test.c
/TestQ.c
/Test_File.zip
/thread_pool.o
/Thread_poolv2.c
mdu.c
